<div class="profile-card">
  <div class="header">
      <div class="col-xs-6 name"> <span>{{data.name}}</span></div>  
      <div class="col-xs-6 point-value"> <span>{{data.pointValue}}</span></div>  
  </div>

  <div class="photo">
    <img src="{{data.photo}}" alt="">
  </div>

  <div class="progress-wrapper">
    <div class="progress-bar progress-bar-success"></div>
  </div>

  <div class="question-wrapper col-xs-12">
    <div class="row question">
      <span> {{currentQuestion.question}} </span>
    </div>
    <div class="row answer">
      <span class="yes" ng-click="submitAnswer(true)">
        Yes
      </span> or 
      <span class="no" ng-click="submitAnswer(false)">
        No
      </span>
    </div>
  </div> 
</div>