<div class="profile-card">
  <div class="header">
      <div class="col-xs-6 name"> <span>{{data.name}}</span></div>  
      <div class="col-xs-6 point-value"> <span>{{data.pointValue}}</span></div>  
  </div>

  <div class="photo">
    <img src="{{data.photo}}" alt="">
  </div>

  <div class="displaybar-wrapper col-xs-12">
    <div class="progress-bar progress-bar-success"></div>
    <div class="row question-wrapper">
      <span class="question"> {{currentQuestion.question}} </span>
    </div>
  </div>

  <div class="answer-wrapper col-xs-12">
    <div class="col-xs-6">
      <button class="btn-option yes" ng-click="submitAnswer(true)"> Yes </button>
    </div>
    <div class="col-xs-6">
      <button class="btn-option no" ng-click="submitAnswer(false)"> No </button>
    </div>
  </div>
</div>