body
  min-height: 768px
  background-repeat: repeat-y
  background-image: -webkit-linear-gradient(45deg, #49f1cf, #3b42ff)
  background-image: -moz-linear-gradient(45deg, #49f1cf, #3b42ff)
  background-image: linear-gradient(-160deg, #49f1cf, #3b42ff)
  background-color: #49a3f1
  overflow: hidden
  font-family: 'Open Sans', sans-serif

.title
  font-family: 'Delius Swash Caps', sans-serif
  text-align: center
  top: 2em
  position: relative
  color: white
  font-size: 3.5em
  letter-spacing: -.04em
  -webkit-transform: rotate(-4deg)

.pulse
  -webkit-animation: pulse_a .5s linear .5s infinite

@-webkit-keyframes pulse_a
  0% 
    -webkit-transform: scale(1)
  50% 
    -webkit-transform: scale(1.05)
  100%
    -webkit-transform: scale(1)

.game
  background: #FFF
// profiles

.profile-card
  .header
    height: 35px
    width: 100%
    color: #fcfcfc
    font-size: 16px
    line-height: 2em
    background: rgba(0, 0, 0, 0.65)
    position: fixed
    z-index: 2000
  .name span
    margin: 10px
  .point-value
    text-align: right
  .photo
    top: -30px
    width: 100%
    img
      width: 100%
      margin-top: -20px
  .progress-wrapper
    height: 20px
    background: #333
    width: 100%
    display: block
  .question-wrapper
    text-align: center
    font-size: 1.4em
    padding: 2em 0

.question-wrapper
  .question
    font-weight: bold
    margin: 1em 0
    font-size: 1.3em
  .answer
    margin: 2em 0

.answer
  span
    font-weight: bold
  .yes
    color: green
  .no
    color: red

.yes, .no
  padding: 0 1em
  cursor: pointer

.yes:hover!, .no:hover!