/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_menu.sass */
.menu {
  margin: 50% 0;
}
/* line 4, ../sass/_menu.sass */
.menu .btn-option {
  transition: none;
  background: transparent;
  border: 2px solid white;
  margin: 20px 0;
  color: white;
  height: 50px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 17px;
  line-height: 1.42857;
  border-radius: 4px;
  width: 100%;
}
/* line 24, ../sass/_menu.sass */
.menu .btn-option:hover {
  background: white;
  color: #429BE6;
}

/* line 1, ../sass/_main.sass */
body {
  min-height: 768px;
  background-repeat: repeat-y;
  background-image: -webkit-linear-gradient(45deg, #49f1cf, #3b42ff);
  background-image: -moz-linear-gradient(45deg, #49f1cf, #3b42ff);
  background-image: linear-gradient(-160deg, #49f1cf, #3b42ff);
  background-color: #49a3f1;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

/* line 11, ../sass/_main.sass */
.title {
  font-family: "Delius Swash Caps", sans-serif;
  text-align: center;
  top: 2em;
  position: relative;
  color: white;
  font-size: 3.5em;
  letter-spacing: -0.04em;
  -webkit-transform: rotate(-4deg);
}

/* line 21, ../sass/_main.sass */
.pulse {
  -webkit-animation: pulse_a 0.5s linear 0.5s infinite;
}

@-webkit-keyframes pulse_a {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
/* line 32, ../sass/_main.sass */
.navigation {
  height: 60px;
  width: 100%;
  color: #fcfcfc;
  top: -54%;
  position: relative;
  display: block;
}
/* line 40, ../sass/_main.sass */
.navigation > * {
  text-align: center;
  padding: 1em;
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

/* line 45, ../sass/_main.sass */
.game {
  background: #FFF;
  height: 100%;
}

/* line 50, ../sass/_main.sass */
.profile-card {
  height: 768px;
}
/* line 52, ../sass/_main.sass */
.profile-card .header {
  height: 35px;
  width: 100%;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 2em;
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  z-index: 2000;
}
/* line 61, ../sass/_main.sass */
.profile-card .name span {
  margin: 10px;
}
/* line 63, ../sass/_main.sass */
.profile-card .point-value {
  text-align: right;
}
/* line 65, ../sass/_main.sass */
.profile-card .photo {
  height: 120%;
  overflow: hidden;
}
/* line 68, ../sass/_main.sass */
.profile-card .photo img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  height: 100%;
  margin-top: -50px;
  left: -10px;
  position: relative;
}
/* line 74, ../sass/_main.sass */
.profile-card .displaybar-wrapper {
  padding: 0;
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: -60%;
}
/* line 81, ../sass/_main.sass */
.profile-card .displaybar-wrapper .question-wrapper {
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0 0 25px;
  color: #fcfcfc;
  width: 100%;
}
/* line 90, ../sass/_main.sass */
.profile-card .answer-wrapper {
  width: 100%;
  height: 100px;
  top: -60%;
}
/* line 95, ../sass/_main.sass */
.profile-card .answer-wrapper .btn-option.yes,
.profile-card .answer-wrapper .btn-option.no {
  margin: 45px 0;
}
/* line 99, ../sass/_main.sass */
.profile-card .answer-wrapper .btn-option.yes {
  background: rgba(118, 224, 112, 0.3);
}
/* line 101, ../sass/_main.sass */
.profile-card .answer-wrapper .btn-option.yes:hover {
  background: rgba(118, 224, 112, 0.6);
  color: white;
}
/* line 105, ../sass/_main.sass */
.profile-card .answer-wrapper .btn-option.no {
  background: rgba(255, 125, 125, 0.3);
}
/* line 107, ../sass/_main.sass */
.profile-card .answer-wrapper .btn-option.no:hover {
  background: rgba(255, 125, 125, 0.6);
  color: white;
}

/* line 1, ../sass/_collection.sass */
.collection {
  background: #FFF;
}

/* line 3, ../sass/_collection.sass */
.person {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 7, ../sass/_collection.sass */
.person .person-info {
  padding: 15px 0;
}
/* line 10, ../sass/_collection.sass */
.person .photo img {
  border-radius: 999px;
  width: 50px;
}
/* line 14, ../sass/_collection.sass */
.person .person-nav {
  margin: 15px 0;
}
/* line 17, ../sass/_collection.sass */
.person .person-nav span {
  cursor: pointer;
  margin: 0 7px;
}

/* line 21, ../sass/_collection.sass */
.person:hover {
  background: #fcfcfc;
}

/* line 1, ../sass/_playersetup.sass */
.profile-setup {
  background: white;
}
