<div class="profile-setup" ng-controller="UserController">
<form>
  <h2>About Me:</h2>
  <textarea ng-model="myProfile.about">{{ myProfile.about }}</textarea>
  <div><button ng-click="updateAbout()">Update</button></div>
  <h2>My Questions:</h2>
  <ul>
    <li ng-repeat="question in myProfile.questions">Q: {{ question.question }} // A: {{ question.answer }}</li>
  </ul>
  <div>
    <input name="about" ng-model="question" />
    <select name="answer" ng-model="answer">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <div ng-if="blank">Please make sure you have a question and answer before submitting.</div>
  </div>
  <div><button ng-click="addQuestion()">Add New Question</button></div>
  <div class="navigation col-xs-12">
    <div class="col-xs-offset-4 col-xs-4">
      <i class="fa fa-bars home-menu back"></i>
    </div>
  </div>
</form>