<div class="profile-setup" data="myProfile" ng-controller="UserController">
<form>
  <h2>About Me:</h2>
  <textarea name="about" ng-model="about">{{ myProfile.about }}</textarea>
  <div><button ng-click="updateAbout()">Update</button></div>
  <h2>My Questions:</h2>
  <ul>
    <li ng-repeat="question in myProfile.questions">Q: {{ question.question }} // A: {{ question.answer }}</li>
  </ul>
  <div>
    <input name="about" ng-model="question" />
    <select name="answer" ng-model="answer">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
    <div ng-if="blank">Please make sure you have a question and answer before submitting.</div>
  </div>
  <div><button ng-click="addQuestion()">Add New Question</button></div>
</form>