<div class="col-xs-12 menu">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="row">
      <button class="btn-option" ng-morph-overlay="morph.setup">Setup</button>
    </div>
    <div class="row">
      <button class="btn-option" ng-morph-overlay="morph.play" ng-click="loadGame()">Play</button>
    </div>
    <div class="row">
      <button class="btn-option" ng-morph-overlay="morph.collection" >Collection</button>
    </div>
    <div class="row">
      <button class="btn-option" ng-click="FBlogout()">Log out</button>
    </div>
  </div>
</div>