<div ng-controller="AuthController">
  <h2>Catch'em</h2>
  
  <!-- if user is logged in -->
  <div ng-if="user.loggedIn">
    <button ng-click="FBlogout()">Sign out</button>

    <div ng-if="user.name">
      Hello, {{ user.fullname }}!
    </div>

    <div ng-if="user.id">
      You are id#: {{ user.id }}
    </div>

    <div ng-if="user.email">
      Your email address is: {{ user.email }}
    </div>
  </div>

  <!-- if user is not logged in -->
  <div ng-if="!user.loggedIn">
    <button ng-click="FBlogin()">Sign in with Facebook</button>

    <div>Please log in</div>
  </div>
</div>
