<div ng-controller="AuthController">
  <h2>Catch'em</h2>
  
  <!-- if user is logged in -->
  <div ng-if="user.loggedIn">
    <button ng-click="FBlogout()">Log out</button>

    <div ng-if="user.full_name">
      Hello, {{ user.full_name }}!
    </div>

    <div ng-if="user.facebook_id">
      Your ID is: {{ user.facebook_id }}
    </div>

    <div ng-if="user.email">
      Your email address is: {{ user.email }}
    </div>
  </div>

  <!-- if user is not logged in -->
  <div ng-if="!user.loggedIn">
    <button ng-click="FBlogin()">Log in with Facebook</button>

    <div>Please log in</div>
  </div>
</div>
